@{
    ViewData["Title"] = "Home Page";
}

<style>
    .white-link {
        color: white;
        transition: color 0.3s;
        font-weight: lighter;
    }

    .white-link:hover {
        color: rgba(255, 255, 255, 0.7);
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://localhost:7033/FeverCheck" class="white-link">Check status for your body temperature.</a></p>
</div>
